//Backgrounds
$primary--default: #161925;
$primary--hover: #2e3551;
$primary--pressed: #2e3551;
$secondary--darkblue: #23395B;
$secondary--blue: #406E8E;
$ternary--blue: #8EA8C3;
$mint--green: #8cecd6;
$danger--default: #FF0000;
$danger--hover: #FF4D4F;
$danger--pressed: #8A0D17;
$danger--selected: #FFF1F0;
$nuetral--disabled: #CDD8E0;
$background-left: #b2e9f9;
$background-right: #a9c8f6;
$white: #ffffff;
$success-default: #008000;