@import "../../../styles/colors.scss";

.card_wrapper {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
}

.link_style {
    text-decoration: none;
    color: $secondary--blue;

    &:hover {
        color: $background-right;
    }
}

.add_friends_button {
    background-color: $secondary--darkblue;
    color: $white;
    text-transform: none;
    border: 2px solid $secondary--darkblue ;

    &:hover {
        color: $secondary--darkblue !important;
        border: 2px solid $secondary--darkblue ;
    }
}

.button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}